<h1>Make a new student!<h1>

<%= form_for @student do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit %>
<% end %>



<li><%=link_to "View Houses", houses_path%></li>
<li><%=link_to "Back To Students Index", students_path%></li>
